@import 'tailwindcss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  border-color: #3b3b3b;
  color: white;
  height: 100vh;
  height: 100dvh;
  height: 100svh;
}

@custom-variant height--1280 (@media (min-height:900px));

.btn {
  @apply px-5 py-2 rounded-3xl bg-[#2997FF] my-5 text-xl  border border-transparent hover:bg-transparent hover:text-[#2997FF] hover:border hover:border-[#2997FF];
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.3) !important;
  opacity: 0.7 !important;
  width: 10px !important;
  height: 10px !important;
  transition: all 0.4s ease-in !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
  width: 30px !important;
  box-shadow: 0 1px 5px rgb(180, 180, 180);
  height: 10px !important;
  border-radius: 10px !important;
}
